@use '../../partials/colors' as *;
@use '../../partials/variables' as *;
@use '../../partials/typographys' as *;
@use '../../partials/spacings' as *;
@use '../../partials/mixins' as *;

.video-player{

    &__wrapper{
        width: 100%;
        background-color:black ;
    }

    &__player{
        display: block;
        width: 100%;

        @include tablet {
            margin:auto;
            width: 90%;
        }

        @include desktop {
            width: 80%;
        }
    }
}

